<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecto Molón: <%= project.name%>
    </title>
</head>

<body>
    <%- include("./header") %>
        <section class="preview">
            <img class="imagePreview" src="<%= project.image %>" alt="<%= project.name %>" />
            <section class="author">
                <section class="author__project">
                    <p class="author__project--subtitle">Personal Project Card</p>
                    <hr class="author__project--line" />
                    <h2 class="author__project--title">
                        <%= project.name %>
                    </h2>
                    <p class="author__project--slogan">
                        <%= project.slogan %>
                    </p>
                    <p class="author__project--description">Product Description</p>
                    <p class="author__project--desc">
                        <%= project.desc %>
                    </p>
                    <section class="author__technologies">
                        <p class="author__technologies--text">
                            <%= project.technologies %>
                        </p>
                        <div class="author__technologies--icon">
                            <a href="<%= project.demo %>" target="_blank" rel="noopener noreferrer">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                            <a href="<%= project.repo %>" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </section>
                </section>
                <section class="author__info">
                    <img class="author__info--image" src="<%= project.imageAuthor %>" alt="<%= project.nameAuthor %>" />
                    <p class="author__info--job">
                        <%= project.job %>
                    </p>
                    <p class="author__info--name">
                        <%= project.nameAuthor %>
                    </p>
                </section>

</body>

</html>